<p><b><a href="{{ path('post_show', {'id': id}) }}">{{ title }}</a></b></p>
<p>&nbsp;{{ intro }} </p>
<p> <i>&nbsp;&nbsp Автор: {{ nick }} </i></p>
<p> <i>&nbsp;&nbsp Дата публикации: {{ created_at }} </i></p>
