{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Привет! ✅</h1>

    {% if app.user %}
        Привет, {{app.user.email}}  | <a href={{ path('app_logout') }}>Выйти</a>
    {% else %}
        <a href={{ path('app_login') }}>Войти</a> | <a href={{ path('app_register') }}>Зарегестрироваться</a>
    {% endif %}

    <form class="form-inline my-2 my-lg-0" action="{{ path('post_search') }}" method="get">
        <input class="form-control mr-sm-2" type="search" aria-label="Search" name="t">
        <button class="btn btn-default my-2 my-sm-0" type="submit">Найти.</button>
    </form>

     {% for post in posts %}
        <p><b><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></b></p>
        <p>&nbsp;{{ post.body }} </p>
        <p> <i>&nbsp;&nbsp Автор: {{ post.email }} </i></p>
        <p> <i>&nbsp;&nbsp Дата публикации: {{ post.created_at }} </i></p>
    {% endfor %}
</div>

{% endblock %}
