{% extends 'base2.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col my-2">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.intro, { 'attr': {
                    'rows' : '3',
                    'cols' : '30' }}) }}
                {{ form_row(form.body, { 'attr': {
                    'rows' : '10',
                    'cols' : '30' }}) }}
{#                 <button type="submit" class="btn btn-primary">Сохранить</button>#}
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="submit">Сохранить</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}