{% extends 'base2.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col text-center my-auto">
            <h2> Результаты поиска </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for post in posts %}
                <p><b><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></b></p>
                <p>&nbsp;&nbsp{{ post.body }} </p>
                <p> <i>&nbsp;&nbsp Автор: {{ post.email }} </i></p>
                <p> <i>&nbsp;&nbsp Дата публикации: {{ post.created_at }} </i></p>
                <a href="{{ path('post_edit', {'id': post.id}) }}">Редактировать</a>
            &nbsp;&nbsp;    <a href="{{ path('post_delete', {'id': post.id}) }}">Удалить</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}