{% extends 'base2.html.twig' %}

{% block content %}
    <p><b>{{ post.title }}</b></p>
    <p>{{ post.intro }}</p>
    <p>{{ post.body }}</p>
    <p> <i>&nbsp;&nbsp Автор: {{ post.email }} </i></p>
    <p> <i>&nbsp;&nbsp Дата публикации: {{ post.created_at }} </i></p>
{% endblock %}