{% extends 'base.html.twig' %}
{% block body %}
    <p><b>{{ post.title }}</b></p>
    <p>{{ post.body }}</p>
    <p> <i>&nbsp;&nbsp Дата публикации: {{ post.getCreatedAtStr('Y-m-d H:i:s') }} </i></p>
    <a href="{{ path('post_edit', {'id': post.id}) }}">Редактировать</a>
    &nbsp;&nbsp;<a href="{{ path('post_delete', {'id': post.id}) }}">Удалить</a>
    &nbsp;&nbsp;<a href="{{ path('app_posts') }}">На главную</a>
{% endblock %}