
{#             SELECT c.id, c.body, c.created_at, u.email
#}

<div style="overflow-x:auto;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 1)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 1, -1, '{{ startDate }}', '{{ endDate }}')">id
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 1, 1, '{{ startDate }}', '{{ endDate }}')">id
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, 1, 1, '{{ startDate }}', '{{ endDate }}')">id</button>
                    {% endif %}
                </div>
            </th>
            <th scope="col">
                body
            </th>
            <th scope="col">

                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 3)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 3, -1, '{{ startDate }}', '{{ endDate }}')">created_at
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 3, 1, '{{ startDate }}', '{{ endDate }}')">created_at
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, 3, 1, '{{ startDate }}', '{{ endDate }}')">created_at</button>
                    {% endif %}
                </div>

            </th>
            <th scope="col">

                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 4)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 4, -1, '{{ startDate }}', '{{ endDate }}')">email
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 4, 1, '{{ startDate }}', '{{ endDate }}')">email
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, 4, 1, '{{ startDate }}', '{{ endDate }}')">email</button>
                    {% endif %}
                </div>

            </th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for comment in comments %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ comment.id }}</td>
                <td>{{ comment.body }}</td>
                <td>{{ comment.created_at }}</td>
                <td>{{ comment.email }}</td>
                <td>
{#
                    {% if user.enabled == 0 %}
                        <a class="btn btn-primary" href="{{ path('user_enable', {'id': user.id}) }}" role="button">Подтвердить</a>
                    {% endif %}
#}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
