
{#             SELECT c.id, c.body, c.created_at, u.email
#}

<div style="overflow-x:auto;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 1)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, '{{ startDate }}', '{{ endDate }}', 1, -1)">id
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, '{{ startDate }}', '{{ endDate }}', 1, 1)">id
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, '{{ startDate }}', '{{ endDate }}', 1, 1)">id</button>
                    {% endif %}
                </div>
            </th>
            <th scope="col">
                body
            </th>
            <th scope="col">

                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 3)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, '{{ startDate }}', '{{ endDate }}', 3, -1)">created_at
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, '{{ startDate }}', '{{ endDate }}', 3, 1)">created_at
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, '{{ startDate }}', '{{ endDate }}', 3, 1)">created_at</button>
                    {% endif %}
                </div>

            </th>
            <th scope="col">

                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 4)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, '{{ startDate }}', '{{ endDate }}', 4, -1)">email
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, '{{ startDate }}', '{{ endDate }}', 4, 1)">email
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, '{{ startDate }}', '{{ endDate }}', 4, 1)">email</button>
                    {% endif %}
                </div>

            </th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for comment in comments %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ comment.id }}</td>
                <td>{{ comment.body }}</td>
                <td>{{ comment.created_at }}</td>
                <td>{{ comment.email }}</td>
                <td>
                    {% if (comment.state == 3) %}
                        {% set murl = path('comments_action', {'id': comment.id, 'action': 'reject'}) %}
                        {% if (sortby is defined) %}
                            <button class="btn btn-primary" type="button"
                                    onClick = "actionComment( '{{ murl }}', {{ status }}, '{{ startDate }}', '{{ endDate }}', {{ sortby }}, {{ desc }} )">Отклонить</button>
                        {% else %}
                            <button class="btn btn-primary" type="button"  onClick = "actionComment( '{{ murl }}', {{ status }}, '{{ startDate }}', '{{ endDate }}' )">Отклонить</button>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if (comment.state == 3) %}
                        {% set murl = path('comments_action', {'id': comment.id, 'action': 'publish'}) %}
                        {% if (sortby is defined) %}
                            <button class="btn btn-primary" type="button"
                                    onClick = "actionComment( '{{ murl }}', {{ status }}, '{{ startDate }}', '{{ endDate }}', {{ sortby }}, {{ desc }} )">Опубликовать</button>
                        {% else %}
                            <button class="btn btn-primary" type="button"  onClick = "actionComment( '{{ murl }}', {{ status }}, '{{ startDate }}', '{{ endDate }}' )">Опубликовать</button>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
<script>
    function actionComment( murl, status, startDate, endDate, sortby, desc){
        $.ajax({
            url: murl,
            method: 'post',
            dataType: 'html',
            data: {status: status, sortby: sortby, desc: desc, startDate:startDate, endDate:endDate},
            success: function (data) {
                $("#table").html(data);
            },
        });
    }
</script>
