
<div style="overflow-x:auto;">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 1)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 1, -1)">id
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 1, 1)">id
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, 1, 1)">id</button>
                    {% endif %}
                </div>
            </th>
            <th scope="col">
                <div class="d-grid">
                    {% if ((sortby is defined) and (sortby == 2)) %}
                        {% if desc == 1 %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 2, -1)">created_at
                                <img src="/images/sortl.png" alt="Сортировка"></button>
                        {% else %}
                            <button class="btn btn-primary" type="button" onClick = "sortTable({{ status }}, 2, 1)">created_at
                                <img src="/images/sortb.png" alt="Сортировка"></button>
                        {% endif %}
                    {% else %}
                        <button class="btn btn-primary" type="button" onClick = "sortTable( {{ status }}, 2, 1)">created_at</button>
                    {% endif %}
                </div>
            </th>
            <th scope="col">email</th>
            <th scope="col">roles</th>
            <th scope="col">enabled</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ user.id }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles }}</td>
                <td>{{ user.enabled }}</td>
                <td>
                    {% if user.enabled == 0 %}
                        {% set murl = path('user_action', {'id': user.id, 'action': 'enable'}) %}
                        {% if (sortby is defined) %}
                            <button class="btn btn-primary" type="button"  onClick = "actionUser( '{{ murl }}', {{ status }}, {{ sortby }}, {{ desc }} )">Подтвердить</button>
                        {% else %}
                            <button class="btn btn-primary" type="button"  onClick = "actionUser( '{{ murl }}', {{ status }} )">Подтвердить</button>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<script>
    function actionUser( murl, status, sortby, desc){
        $.ajax({
            url: murl,
            method: 'post',
            dataType: 'html',
            data: {status: status, sortby: sortby, desc: desc},
            success: function (data) {
                $("#table").html(data);
            },
        });
    }
</script>
