{% extends 'admin/base_adm.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
    <h5 style="text-align: center">Комментарии</h5>
    <br>

    {{ form_start(form, {method: 'POST', action: path('comments')}) }}
    <div class="row g-3">
        <div class="col-lg-3">
            {{ form_label(form._state, 'Статус: ', {'label_attr': {'class': 'uf_label'}} ) }}
            {{ form_widget(form._state) }}
        </div>
        <div class="col-lg-6">
        <div class="row">
            <div class="col-sm-6">
                {{ form_label(form._startDate) }}
                {{ form_widget(form._startDate) }}
            </div>
            <div class="col-sm-6">
                {{ form_label(form._endDate) }}
                {{ form_widget(form._endDate) }}
            </div>
        </div>
        </div>

        <div class="col-1" style="align-self: flex-end">
            <button type="submit">Обновить</button>
        </div>
    </div>
    {{ form_end(form) }}
    <br>

    <div id="table">
        {% include 'admin/_comments_table.html.twig' %}
    </div>
    <script>
        function sortTable( status, sortby, desc, startDate, endDate){
            $.ajax({
                url: '{{ path('comments_ajax') }}',
                method: 'post',
                dataType: 'html',
                data: {status: status, sortby: sortby, desc:desc, startDate:startDate, endDate:endDate},
                success: function (data) {
                    $("#table").html(data);
                },
            });
        }
    </script>

    {% endif %}

{% endblock %}

