{% extends 'admin/base_adm.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
    <h5 style="text-align: center">Пользователи</h5>
    <br>

        {# Так - работает...  #}
        {# Но ведь красоты хочется...  #}

        {{ form_start(form) }}
            {{ form_row(form._state) }}

            <button type="submit">Обновить</button>
        {{ form_end(form) }}

{#
        {{ form_start(form) }}
            <div class="row">
                <div class="col-3">
                    {{ form_row(form._state) }}
                </div>

                <div class="col-1">
                    <button type="submit">Обновить</button>
                </div>
            </div>
        {{ form_end(form) }}


{#
    {{ form_start(form) }}

        <label for="state0">Статус:</label>
        <input type="text" id="state0" name="form._state"/> <br>

        <button type="submit">Обновить2</button>
    {{ form_end(form) }}
#}

        {# Ну не проходит $form->isSubmitted() в контроллере, хоть убейся... (( #}
{#
    <form action="{{ path('users_post') }}" method="post">
        <label for="state">Статус:</label>
        <input type="text" id="state" name="_state" value={{ _state }}> <br>

        <button class="btn btn-primary me-md-2" type="submit" >Обновить</button>
    </form>
#}
    ------------!!!

{#
    <form class="row g-3" method="post" action="{{ path('users_post') }}">
        <div class="col md-3">
            <div class="input-group">
                <label class="input-group-text" for="status">Status</label>
                <select class="form-select" id="status"  name="st">
                    <option value="1">Все</option>
                    <option value="2">Подтверждённые</option>
                    <option value="3">Неподтверждённые</option>
                </select>
            </div>
        </div>
        <div class="col md-2">
            <button type="submit" class="btn btn-primary">Обновить</button>
        </div>
    </form>
#}

    <br>
    _state  = {{ _state }} <br>
    out  = {{ out }} <br>
    isSubmitted  = {{ isSubmitted }} <br>
    Method  = {{ method }} <br>

{#
    <br>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">created_at</th>
                <th scope="col">email</th>
                <th scope="col">roles</th>
                <th scope="col">enabled</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>

                {% for user in users %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.id }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles }}</td>
                    <td>{{ user.enabled }}</td>
                    <td><a class="btn btn-primary" href="{{ path('user_enable', {'id': user.id}) }}" role="button">Подтвердить</a></td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
#}
    {% endif %}
{% endblock %}

