{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Author: {{ user }}<br />
    Email: {{ user }}<br />
    State: {{ state }}<br />
    <br />
    <p>
        {{ comment.body }}
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    {#
    <button href="{{ url('review_comment', { id: comment.id }) }}">Accept</button>
    <button href="{{ url('review_comment', { id: comment.id, reject: true }) }}">Reject</button>
    #}
{% endblock %}
