<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog simf2{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row" style="height: 100px">
            <div class="col text-center my-auto bg-info">
                <h1> {% if header is not defined %} Блог на Symfony {% else %} {{header}} {% endif %} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 mx-auto border border-dark bg-danger ">
                <div class="row">
                    <div class="col-8 bg-info" >
                        <div class="row">
                            <div class="col offset-sm-1">
                                <form class="row my-2" action="{{ path('post_search') }}" method="get">
                                    <div class="col-sm-8 my-auto">
                                        <label for="search" class="visually-hidden">Поиск</label>
                                        <input type="search" class="form-control" id="search" placeholder="Поиск..."  name="t">
                                    </div>
                                    <div class="col-auto my-auto">
                                        <button type="submit" class="btn btn-primary">Найти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
{#
                        <form class="form-inline my-2" action="{{ path('post_search') }}" method="get">
                            <input class="form-control" type="search" aria-label="Search" name="t">
                            <button class="btn btn-default" type="submit">Найти.</button>
                        </form>
#}
                    </div>
                    <div class="col-4 text-center my-auto reg-min-width bg-info">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            Привет, {{app.user.email}}  | <a href={{ path('app_logout') }}>Выйти</a>
                        {% else %}
                            <a href={{ path('app_login') }}>Войти</a> | <a href={{ path('app_register') }}>Зарегестрироваться</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row border-top border-dark">
{#                     <div class="col-md-10 col-9 bg-info" id = "content"> #}
                    <div class="col bg-info" id = "content">
                        {% block content %}
                            Контент
                        {% endblock %}
                    </div>
                    <div class="col-md-2 col-3 my-2 border-start border-dark menu-min-width bg-info" id = "main-menu">
                        <ul>
                            <li><a href="{{ path('app_posts') }}">На главную</a></li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                {% if (showInsert is defined) and (showInsert) %}
                                    <li><a href="{{ path('post_new') }}">Добавить</a></li>
                                {% endif %}
                                {% if (showEdit is defined) and (showEdit) %}
                                    <li><a href="{{ path('post_edit', {'id': post.id}) }}">Редактировать</a></li>
                                {% endif %}
                                {% if (showDelete is defined) and (showDelete) %}
                                    <li><a href="{{ path('post_delete', {'id': post.id}) }}">Удалить</a></li>
                                {% endif %}
                            {% endif %}
                            <div id = "user_menu">
                                {% block user_menu %}

                                {% endblock %}
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="row border-top border-dark">
                    <div class="col text-center bg-info">
                        Все права защищены (c) Блог на Symfony
                    </div>
                </div>
            </div>
        </div>
    </div>


{#
        {% block header %}
            <div id = "header">
                <h1> {% if header is not defined %} Блог на Symfony {% else %} {{header}} {% endif %} </h1>
            </div>
        {% endblock %}

        <div id = "reg_block">
            {% block find_block %}
                <div>
                    Блок поиска
                </div>
            {% endblock %}

            {% block hi_block %}
                <div id = "hi_block">
                    {% if app.user %}
                        Привет, {{app.user.email}}  | <a href={{ path('app_logout') }}>Выйти</a>
                    {% else %}
                        <a href={{ path('app_login') }}>Войти</a> | <a href={{ path('app_register') }}>Зарегестрироваться</a>
                    {% endif %}
                </div>
            {% endblock %}
        </div>

        {% block content %}
            <div id = "content">
                Здесь д.б. контент
            </div>
        {% endblock %}

        {% block footer %}
            <div id = "footer">
                Все права защищены (c) Блог на Symfony
            </div>
        {% endblock %}
#}
    </body>
</html>
