<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Blog simf2{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <div class="row" style="height: 100px">
            <div class="col text-center my-auto bg-info">
                <h1> {% if header is not defined %} Блог на Symfony {% else %} {{header}} {% endif %} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 mx-auto border border-dark bg-danger ">
                <div class="row">
                    <div class="col-8 bg-info">
                        <div class="row">
                            <div class="col offset-sm-1">
                                <form class="row my-2">
                                    <div class="col-sm-8 my-auto">
                                        <label for="Search" class="visually-hidden">Пароль</label>
                                        <input type="search" class="form-control" id="Search" placeholder="Поиск...">
                                    </div>
                                    <div class="col-auto my-auto">
                                        <button type="submit" class="btn btn-primary">Найти</button>
                                    </div>
                                </form>
                            </div>
                        </div>
{#
                        <form class="form-inline my-2" action="{{ path('post_search') }}" method="get">
                            <input class="form-control" type="search" aria-label="Search" name="t">
                            <button class="btn btn-default" type="submit">Найти.</button>
                        </form>
#}
                    </div>
                    <div class="col-4 text-center my-auto bg-info">
                        {% if app.user %}
                            Привет, {{app.user.email}}  | <a href={{ path('app_logout') }}>Выйти</a>
                        {% else %}
                            <a href={{ path('app_login') }}>Войти</a> | <a href={{ path('app_register') }}>Зарегестрироваться</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row border-top border-dark">
                    <div class="col-8 bg-info" id = "content">
                        {% block content %}
                            Контент
                        {% endblock %}
                    </div>
                    <div class="col-4 border-start border-dark bg-info" id = "menu">
                        {% block menu %}
                            Меню
                        {% endblock %}
                    </div>
                </div>
                <div class="row border-top border-dark">
                    <div class="col text-center bg-info">
                        Все права защищены (c) Блог на Symfony
                    </div>
                </div>
            </div>
        </div>
    </div>


{#
        {% block header %}
            <div id = "header">
                <h1> {% if header is not defined %} Блог на Symfony {% else %} {{header}} {% endif %} </h1>
            </div>
        {% endblock %}

        <div id = "reg_block">
            {% block find_block %}
                <div>
                    Блок поиска
                </div>
            {% endblock %}

            {% block hi_block %}
                <div id = "hi_block">
                    {% if app.user %}
                        Привет, {{app.user.email}}  | <a href={{ path('app_logout') }}>Выйти</a>
                    {% else %}
                        <a href={{ path('app_login') }}>Войти</a> | <a href={{ path('app_register') }}>Зарегестрироваться</a>
                    {% endif %}
                </div>
            {% endblock %}
        </div>

        {% block content %}
            <div id = "content">
                Здесь д.б. контент
            </div>
        {% endblock %}

        {% block footer %}
            <div id = "footer">
                Все права защищены (c) Блог на Symfony
            </div>
        {% endblock %}
#}
    </body>
</html>
